{% extends 'base.html.twig' %}

{% block body %}
	<h1>panier</h1>

	{% if items | length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Quantité</th>
				</tr>
			</thead>

			<tbody>

				{% for item in items %}
					<tr>
						<th>{{item.product.name}}</th>
						<th>{{item.quantity}}</th>
						<td>
							<a href="{{path('card_remove', {'id' :item.product.id})}}" class="btn btn-danger btn-sm">
								<i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% endif %}
{% endblock %}
