{% extends 'base.html.twig' %}

{% block body %}
	<h2>{{product.name}}</h2>
	<img src="{{product.picture}}" alt="">
	<p>{{product.description}}</p>
	<p>{{product.created | date('d/m/Y')}}</p>
{% endblock %}
